<div class="form-group">
  <label>Title:</label>
  <input class="form-control" #newTitle>
</div>
<div class="form-group">
  <select class="form-control" #newCategory>
    <option value='for-sale'>For Sale</option>
    <option value='jobs'>Jobs</option>
    <option value='personals'>Personals</option>
    <option value='complaints'>Complaints</option>
  </select>
</div>
<div class="form-group">
  <label>Post Body:</label>
  <input class="form-control" #newBody>
</div>
<div class="form-group">
  <label>Author:</label>
  <input class="form-control" #newAuthor>
</div>
<div class="form-group">
  <label>Contact:</label>
  <input class="form-control" #newContact>
</div>
<button class="btn" (click)="submitForm(newTitle.value, newCategory.value, newBody.value, newAuthor.value, newContact.value); newTitle.value=''; newCategory.value=''; newBody.value=''; newAuthor.value=''; newContact.value='';">Add Post</button>
